{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="ar" dir="rtl"> <!-- RTL layout -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <title>{% block title %}{% trans "نظام الدعم الفني" %}{% endblock title %}</title>
  <meta name="description" content="{% trans 'نظام لإدارة التذاكر والدعم الفني.' %}">
  <meta name="author" content="{% trans 'فريق الدعم' %}">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

  {% block css %}
  <!-- Bootstrap RTL CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" 
  integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock css %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">{% trans "Customer support system" %}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{% trans 'تبديل القائمة' %}">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" 
               href="{% url 'home' %}">{% trans "الرئيسية" %}</a>
          </li>
          {% comment %} <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}" 
               href="{% url 'about' %}">{% trans "حول" %}</a>
          </li> {% endcomment %}
          
        </ul>
        {% if user.is_authenticated %}
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% trans "الإعدادات" %}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">{{ user.email }}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'account_change_password' %}">{% trans "تغيير كلمة المرور" %}</a></li>
              <li><a class="dropdown-item" href="{% url 'account_logout' %}">{% trans "تسجيل الخروج" %}</a></li>
            </ul>
          </li>
        </ul>
        {% else %}
        <form class="d-flex">
          <a href="{% url 'account_login' %}" class="btn btn-outline-secondary ms-2">{% trans "تسجيل الدخول" %}</a>
        </form>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="container mt-4">

    {% if messages %}
    <div class="container">
      {% for message in messages %}
      <div  class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button style="background-color: white;" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% block content %}
    {% comment %} <div id="loading" class="d-flex justify-content-center align-items-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">{% trans "جاري التحميل..." %}</span>
      </div>
    </div>
    
    <script>
      window.onload = function() {
        document.getElementById('loading').style.display = 'none';
      };
    </script> {% endcomment %}
    {% endblock content %}
  </div>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">{% trans "جميع الحقوق محفوظة © 2024" %}</span>
    </div>
  </footer>

  {% block javascript %}
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
    crossorigin="anonymous"></script>

  <script src="{% static 'js/base.js' %}"></script>
  {% endblock javascript %}
</body>

</html>


